@font-face {
    font-family: 'coolvetica_rg';
    src: url('../fonts/coolvetica_rg-webfont.woff') format('woff2'),
         url('../fonts/coolvetica_rg-webfont.woff') format('woff') ;
    font-weight: normal;
    font-style: normal; 
  }

  $font-primary: 'coolvetica_rg';

.home--container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
   
    height: 85vh;
    


    //Todas as estilizações da logo de React que está no lado esquerdo da página Home.
        .logo--side {
            
            width: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;

            @keyframes rotate-logo {
              from {
                    transform:scale(350%) translateX(-16%) rotate(0deg);
                } to {
                    transform:scale(350%) translateX(-16%) rotate(360deg);
                }
                
           }

            img {

                width: 100%;
                transform: scale(350%) translateX(-16%);
                padding: 0;
                animation: rotate-logo 180s linear 15s infinite normal;
                -moz-animation: rotate-logo 180s linear 15s infinite normal;
                -ms-animation: rotate-logo 180s linear 15s infinite normal;
                -o-animation: rotate-logo 180s linear 15s infinite normal;
                -webkit-animation: rotate-logo 180s linear 15s infinite normal;
                 
            }

           

        }
    ////Todas as estilizações dos textos e links do lado direito da página Home. 
        .info--side {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
            width: 85vw;
            padding: 3%;           
                                
            .info--text{
              
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                padding: 4%;
                width: 86%;
                transform: scale(120%);
               

                .info--column{
              
                    display: flex;
                    flex-direction: column;
                    height: 80%;
                    
                }
               
            
            }
           
            
            .info--line{
                
                display: flex;
                align-self: stretch; 
                align-items: flex-end;


               


                .info--button {
                    
                    width: 55%;
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    justify-content: space-around;

               
                    .button--text{
                        text-align: center;
                    }

                    .button--git:hover, .button--linkedin:hover, .button--cv:hover                    
                    {
                        transform: scale(110%);
                        transition: transform 0.1s ease;
                        cursor: pointer;
                    }

                     .button--git {
                     
                        width: 33%;
                        display: flex;
                        flex-direction: column;
                              
                        

                        img {
                            width: 30%;
                      
                            margin: 0 auto;
                        }
                    }

                    .button--linkedin {
                   
                        width: 33%;

                        img {
                            width: 30%;
                          
                            margin: 0 auto;
                        }
                        
                    }

                    .button--cv {
                   
                        width: 33%;

                        img {
                            width: 30%;
                       
                            margin: 0 auto;
                        }
                        
                    }

                   

                    .baloes {
                        
                        width: 100%;
                        margin: 0px auto;
                        border: 3px solid #000000;
                        padding: 5px;
                        text-align: center;
                        position: relative;
                        transform: scale(70%);
                        text-transform: uppercase;
                        font-weight: bold;
                        
                      }
                 
                      
                        .sb8:before {
                            content: "";
                            width: 0px;
                            height: 0px;
                            position: absolute;
                            border-left: 10px solid transparent;
                            border-right: 10px solid #000000;
                            border-top: 10px solid #000000;
                            border-bottom: 10px solid transparent;
                            right: 20px;
                            bottom: -23px;
                            transform: rotate(270deg);
                            
                        }
                        
                        .sb8:after {
                            content: "";
                            width: 0px;
                            height: 0px;
                            position: absolute;
                            border-left: 10px solid transparent;
                            border-right: 10px solid rgba(255, 255, 255,0);
                            border-top: 10px solid rgba(255, 255, 255,0);
                            border-bottom: 10px solid transparent;
                            right: 17px;
                            bottom: -15px;
                            transform: rotate(270deg);
                        }



                }
    

                
            }

            

            p {
                text-transform: uppercase;
                padding: 0;
                text-align: left;
                font-size: 20px;
                
            }
            h1 {
                font-family: $font-primary ;
                font-weight: 400;
                font-size: 12vw;
                text-transform: uppercase;
                padding: 0;               
            //    border: 1px solid #0ef02186;
                text-align: left;
                width: 100%;
                line-height: 10vw;
                letter-spacing: 4px;
                
            }

            h2 {
                font-family: $font-primary ;
                font-weight: 400;
                font-size: 5vw;
                text-transform: uppercase;
                padding: 0;
               // border: 1px solid navy;
                text-align: left;
                width: 100%;
                line-height: 4.5vw;
               
                
               
            }
            .info--description{
                text-align: right;
            //    border: 1px solid navy;
                width: 60%;
                align-self: flex-end;
              
            }
            
        }


}

.esconder {
    visibility: hidden;
}

