.button--container {
   
    padding: 10px;
    width: 80px;
   
    
.button--border {
    
    background-color: rgb(0, 0, 0);
    height: 35px;
    border-radius: 20px;    
    display: flex;
    flex-direction: row;    
    padding: 1px 2px 3px 2px;

           
}





.button--circle {

     
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    left: 150px;    
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    
  
    
    img{
        width: 70%;
        object-fit: contain;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
    }
    
  
    
}
   
    
}