

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  align-items: center;



  li {
    list-style: none;
    font-size: 0.9rem; 
    margin-top: 5%;
    text-transform: uppercase;
  
 
 

  }
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
  }
}

.nav__menu {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(0, 0, 0);
  transition: 0.3s ease-in;
}

.logo {

  width: 8%;

  img {
    width: 100%;
    
  }
}

.button--darkmode {

  width: fit-content;

}

.animacao-underline {
  display: inline-block;
  position: relative;
  color: #000;
}

.animacao-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out !important;
  margin-bottom: -10px;
}

.animacao-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 991.98px) {
  .button--darkmode {
    width: 15%;
    order: 2;
  }

  .logo {
    width: 20%;
    order: 1;

    img {
      width: 100%;
    }
  }

  .nav__toggler {
    display: block;
    cursor: pointer;
    
 
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw !important;
    background: rgba($color: #000000, $alpha: 1);
    color: #fff !important;
    flex-direction: column;
    justify-content: space-around; 
    gap: 0;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    z-index: 1;

   

    a {
      color: #fff;
     
     
    
     
    }
  }

        .links--nav {
          ul {
            padding-top: 10vh;
            height: 50vw !important;
            padding-bottom: 100vw !important;
           
          }
          

        }

      /* Active Class */
      .nav__active {
        transform: translateX(0%);
      
      }

      /* Toggle Icon Animation */
      .toggle {
        z-index: 100 !important;       
        margin-top: -5% !important;
        position: relative;
             
      
      }
      .toggle .line1 {
        transform: rotate(-45deg) translate(-20px, 5px);
        margin-left: 30%;
        background: rgb(0, 0, 0);
        
      }
      .toggle .line2 {
        opacity: 0;
      }
      .toggle .line3 {
        background: rgb(0, 0, 0);
        transform: rotate(45deg) translate(-4px, -5px);
      }
      
}

