.VerMais--button {

    button {
        margin-top: 2%;
        background-color: black;
        display: block;
        color: #fff;
        padding: 5px 10px;
        border-radius: none !important;
    }
   
}