$color-primary: red;
$font-primary: 'coolvetica_rg';
$font-secondary: 'Rubik', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');


@font-face {
  font-family: 'coolvetica_rg';
  src: url('fonts/coolvetica_rg-webfont.woff') format('woff2'),
       url('fonts/coolvetica_rg-webfont.woff') format('woff') ;
  font-weight: normal;
  font-style: normal; 
}

body{
  font-family: $font-primary;
  font-weight: lighter;
 
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-primary;

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
