$font-primary: "coolvetica_rg";
$font-secondary: "Rubik", sans-serif;
$color-primary-dark: #8edce6;
$color-secondary-dark: #39404a;
$color-third-dark: #ff1053;
@import url("../node_modules//normalize.css/");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

@font-face {
  font-family: "coolvetica_rg";
  src: url("fonts/coolvetica_rg-webfont.woff") format("woff2"),
    url("fonts/coolvetica_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none !important;
}

html{
  scroll-behavior: smooth;
}
/* Estilizando a scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Largura da scrollbar */
  position: absolute;
  right: 50px;
}

/* Estilizando o thumb da scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Cor do thumb */
  border-radius: 5px; /* Borda arredondada do thumb */
}

/* Estilizando o thumb da scrollbar quando hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do thumb em hover */
}

body {
  font-family: $font-secondary;
}
* {
  box-sizing: content-box;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modo-claro {
  background-color: #fff;
  color: #000;
}

.modo-escuro {
  background-color: #2a2f36;
  color: #dedede;
  transition: background-color 0.8s ease-in-out;

  .VerMais--button {

    button {
      background-color: #61b8bb;
      border: none;
      color: #171a1f;
}
}

  .info--sider {
    width: 100%;
    padding: 0px;
    margin-bottom: 5%;
   

    h6 {
     
      line-height: 150%;
      color: #ffffff !important;
     
    }
    
  }

  li {
    filter: invert(1);
  }

  .info--side,
  .info--text,
  .info--button,
  .info--button .button--text {
    filter: invert(1);
  }
  .home--button button {
    border-color: #61b8bb !important;
    border-width: 4px;
    background-color: transparent;
    box-shadow: none;
    color: white !important;
  }
  .home--button button:hover {
    border-color: #61b8bb !important;
    border-width: 3px;
    background-color: $color-primary-dark !important;
    box-shadow: none;
    color: rgb(37, 37, 37);
    transform: scale(105%) !important;
  }

  .baloes {
    filter: invert(1);
    background-color: $color-third-dark;
    border: 2px solid transparent !important;
    color: rgb(209, 209, 209) !important;
    font-weight: lighter;
  }

  .sb8 {
    border-color: white;
  }

  .sb8:before {
    filter: invert(1);
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid $color-primary-dark;
    border-top: 10px solid $color-primary-dark;
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -23px;
    transform: rotate(270deg);
  }

  .sb8:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid $color-primary-dark;
    border-top: 10px solid $color-primary-dark;
    border-bottom: 10px solid transparent;
    right: 17px;
    bottom: -15px;
    transform: rotate(270deg);
  }

  .button--border {
    background-color: #878787 !important;
    height: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
  }

  .about--container {
    .about--img {
     background-color: transparent;
     
    


     img {
      background-color: #ffffff;
      border: 3px solid #3a404e !important;
      box-shadow: none !important;
    }}

    .about--text {
      h1 {
        color: $color-primary-dark;
      }
    }
  }

  .container--skills {
    filter: invert(1);

    ul {
      background-color: #39404d !important;
    }
    div {
      margin-left: 15px !important;
    }
  }

  @media (min-width: 768px) {


    
    .container--skills {
      filter: invert(1);

      ul {
        background-color: $color-secondary-dark;
        border-left: 6px solid $color-third-dark !important;
      }
      div {
        margin-left: 15px !important;
      }
    }
  }

  h1 {
    color: $color-primary-dark !important;
  }

  .container--skills-column {
    filter: invert(1);

    width: 15vw !important;

    ul {
    }
    div {
      margin-left: 50px !important;
    }

    .skills {
      display: grid;
      column-gap: 2.8vw;
      row-gap: 0vw;

      h5 {
        filter: invert(1);
      }
    }
  }

  .container--projects {
    background-color: $color-secondary-dark;
    box-shadow: 4px 4px 10px rgba($color: #21242b, $alpha: 0.5);
    padding: 20px;
    .info--sider {
      filter: invert(0);

      h4 {
        color: $color-third-dark;
      }
      h5 {
        color: $color-primary-dark;
      }

      h6 {
        background-color: rgba($color: #21242b, $alpha: 0.2);
        padding: 2px;

        div {
          background-color: $color-third-dark;
        }
      }

      .buttons {
        margin-top: 25px;
        button {
          background-color: transparent;
          color: #fff;
          border: 3px solid $color-primary-dark;
          box-shadow: none;
          cursor: pointer;
        }
        button:hover {
          background-color: $color-primary-dark;
          color: $color-secondary-dark;
        }
      }
    }
  }

  .form--container {
    form {
      .form--contact {
        box-shadow: 4px 4px 0 transparent !important;
        background-color: transparent !important;
        border-color: $color-primary-dark !important;
        color: #fff !important;
      }
      .text--contact {
        box-shadow: 4px 4px 0 transparent !important;
        background-color: transparent !important;
        border-color: $color-primary-dark !important;
        color: #fff !important;
      }
      input::placeholder,
      textarea::placeholder {
        color: #dedede;
      }
    }
  }

  .footer--container {
    background-image: linear-gradient(
      to bottom,
      transparent 60%,
      rgba($color: #171a1f, $alpha: 0.8)
    );

    img {
      filter: invert(1);
    }
  }

  
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;

  li {
    list-style: none;
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
    color: rgb(104, 104, 104) !important;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(184, 184, 184);
  
}

@media (max-width: 480px) {

  



  .about--container {
    width: 85vw;
    flex-direction: row;
    h1,.about--title-in,.about--title-out  {
      font-size: 1.5rem !important;
      font-weight: lighter;
    }
    
   

    .about--container-img {
      
      .about--title-in {
        color: $color-primary-dark;
      
      }


    }     

  }

  .container--skills {
   

    ul {
      background-color: #39404d !important;
    }
    div {
      margin-left: 3px !important;
    }
  }

  .container--skills-column {
    filter: invert(1);



  
    div {
      margin-left: 3px !important;
    }
  }
  





}
  @media screen and (max-width: 768px) {
 
    .nav__toggler {
      display: block;
      cursor: pointer;
     
      
   
    }
    .nav__menu {
      position: fixed;
      top: 7vh;
      right: 0;
      height: 93vh;
      width: 100vw;
      background: rgba($color: #21242b, $alpha: 1);
      color: #fff !important;
      flex-direction: column;
      justify-content: space-around;
      gap: 0;
      transform: translateX(100%);
     
      z-index: 1;
  
      a {
        color: #fff;
      }
    }
  
  /* Active Class */
  .nav__active {
    transform: translateX(0%);
   
  }
  
  /* Toggle Icon Animation */
  .toggle {
    z-index: 100 !important;
    position: fixed;
    margin-top: 8%;
   
   
   
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-20px, 5px);
    margin-left: 30%;
    background: rgb(179, 179, 179);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    background: rgb(179, 179, 179);
    transform: rotate(45deg) translate(-4px, -5px);
  }
  }



}

.button-container--app {
  width: 35px;
  height: 35px;
  position: absolute;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-react {
  width: 60vw;
  padding: 0;
  animation: rotate-logo 180s linear 15s infinite normal;
  -moz-animation: rotate-logo 180s linear 15s infinite normal;
  -ms-animation: rotate-logo 180s linear 15s infinite normal;
  -o-animation: rotate-logo 180s linear 15s infinite normal;
  -webkit-animation: rotate-logo 180s linear 15s infinite normal;
}


